<h2> Estadisticas: </h2>
<div align="center">
  <table align="center">
   <tr>
   <td>Total de preguntas: </td>
   <td> <%= contPreguntas %> </td>
   </tr>
   <tr>
   <td> Total de comentarios: </td>
   <td> <%= contComments %> </td>
   </tr>
   <tr>
   <td> Comentarios Publicados: </td>
   <td> <%= contPublicados %> </td>
   </tr>
   <tr>
   <td> Media comentarios por Pregunta: </td>
   <td> <%= contComments/contPreguntas %> </td>
   </tr>
   <tr>
   <td> Media comentarios publicados por Pregunta: </td>
   <td> <%= contPublicados/contPreguntas %> </td>
   </tr>
  </table>
</div>
